<!-- Floating Chat Button (when minimized) -->
<button
  *ngIf="isMinimized"
  (click)="toggleChat()"
  class="fixed bottom-6 right-6 bg-black text-yellow-500 p-4 rounded-full shadow-lg hover:bg-yellow-500 hover:text-black transition-all duration-300 flex items-center justify-center text-2xl cursor-pointer"
  aria-label="Open chat"
>
  <i class="fa-solid fa-comment"></i>
</button>

<!-- Chat Window (when open) -->
<div
  *ngIf="!isMinimized"
  class="fixed bottom-6 right-6 w-80 max-w-full bg-black shadow-xl border border-yellow-500 rounded-lg overflow-hidden flex flex-col"
>
  <!-- Header -->
  <div
    class="bg-black text-yellow-500 px-4 py-2 font-semibold flex justify-between items-center"
  >
    <span><i class="fa-solid fa-comment mr-2"></i> Chat with us</span>

    <!-- Minimize button -->
    <button
      (click)="toggleChat()"
      class="text-yellow-50 hover:text-yellow-500 transition cursor-pointer text-lg"
      aria-label="Minimize chat"
    >
      ✕
    </button>
  </div>

  <!-- Chat Body -->
  <div class="flex-1 p-4 overflow-y-auto space-y-3 h-64">
    <div
      *ngFor="let msg of messages"
      class="flex"
      [ngClass]="{
        'justify-end': msg.sender === 'user',
        'justify-start': msg.sender === 'bot'
      }"
    >
      <div
        [ngClass]="{
          'bg-yellow-100  text-black text-xs': msg.sender === 'bot',
          'bg-gray-800 text-yellow-100 text-sm': msg.sender === 'user'
        }"
        class="px-3 py-2 rounded-lg max-w-xs break-words"
      >
        {{ msg.text }}
      </div>
    </div>
  </div>

  <!-- Input -->
  <form (ngSubmit)="sendMessage()" class="flex border-t border-yellow-500">
    <input
      [(ngModel)]="userMessage"
      name="message"
      type="text"
      placeholder="Type a message..."
      class="flex-1 px-3 py-2 text-sm bg-gray-900 text-yellow-50 placeholder-yellow-50 focus:outline-none"
    />
    <button
      type="submit"
      class="px-4 bg-yellow-500 text-black text-sm hover:bg-yellow-400 transition cursor-pointer"
    >
      Send
    </button>
  </form>
</div>
